* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:pointer;
}

body{
    margin: 0;
    padding: 0;
    background-color: #d7d4c1b9;
}

main{
    margin: 20px;
    padding: 16px;
}

footer{
    position: sticky;
    border-top: #548282b4;
    padding: 40px;
    background-color: #548282b4;
    text-align: center;
    font-size: 18px;
}

img{
    height: 200px;
}

nav{
    border-bottom: solid #a4caca87 1px;
    padding: 16px;
    background-color: #a4caca87;
}

a, h1 {
    color: #6f7985;
    text-decoration:none;
    transition: background-color 1s;
}

a:hover{
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    column-gap: 10px;
    row-gap: 50px;
    justify-items: center;
}

tr:nth-child(even) {
    background-color:#cc924adc;
}

td, th {
    border:groove;
    text-align: center;
}

th {
    background-color: #548282b4;
}

.middle {
    text-align: center;
    justify-content: center;
    list-style-position: inside;
}

table {
    margin-left: auto;
    margin-right: auto;
}
